<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/jquery-3.0.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="
    async defer></script>
    <title>My Maps</title>
    <style>
      #map {
        height: 400px;
        width: 400px;
        float: right;
      }
      #map1 {
        height: 400px;
        width: 400px;
      }

      h1 {
        background-color: aqua;
        width: 200px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1 id='main'>MY MAPS</h1>
    <div id="map"></div>
    <div id="map1"></div>
  
    <script src="/map.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>